$color-typography: #1f252f;
$color-white: #fff;
$color-black: #000;
$color-glass-red: #9b1402;
$color-green: #45a25a;
$color-plum: #2c3a32;

$font-lato: 'Lato', sans-serif;

$color-wine: rgb(143, 22, 15);